
html, body {
	height: 100%;
}

body {
	background: no-repeat top left fixed #f6e190 url('../images/bg_main.jpg');
	background-size: cover;
}

.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	width: 100%;
	min-height: 100%;
}

.wrapper:after {
	content: '';
	width: 100%;
	clear: both;
	height: 73px;
	display: table;
}

/* header */
.header {
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: solid 7px #fff;
	width: 100%;
	height: 90px;
	background-color: #727070;
	-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
}

.header_content {
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	height: 100%;
}

.logo_link {
	margin: 10px 0 0 9px;
	padding: 0;
	display: block;
	border: none;
	text-decoration: none;
	width: 95px;
	height: 71px;
	float: left;
	overflow: hidden;
}

.logo_image {
	width: 100%;
}

.social {
	margin: 27px 0 0 0;
	padding: 0;
	display: block;
	float: right;
}

.social_item {
	margin: 0 0 0 15px;
	padding: 0;
	display: block;
	list-style: none;
	width: 36px;
	height: 36px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	background-image: -webkit-linear-gradient(left, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(left, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: linear-gradient(to right, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	-webkit-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.31),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	-moz-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.31),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.31),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	float: left;
	overflow: hidden;
}

.social_link {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../images/social_sprites.png');
	text-indent: -99999px;
}

.social_link.fb {
    background-position: -51px -5px;
}

.social_link.fb:hover {
    background-position: -5px -5px;
}


.social_link.gh {
    background-position: -143px -5px;
}

.social_link.gh:hover {
    background-position: -97px -5px;
}


.social_link.tw {
    background-position: -235px -5px;
}

.social_link.tw:hover {
    background-position: -189px -5px;
}


.social_link.vk {
    background-position: -327px -5px;
}

.social_link.vk:hover {
    background-position: -281px -5px;
}

/* content */
.content {
	margin: 36px auto 0;
	padding: 0;
	width: 960px;
}

/* aside */
.side_content {
	margin: 0 60px 0 0;
	padding: 0;
	display: block;
	width: 250px;
	float: left;
}

.main_nav, .contacts {
	margin: 0 0 36px 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.main_nav_menu, .contacts_menu {
	margin: 0;
	padding: 0;
	width: 100%;
}

.main_nav_item, .contacts_item {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	list-style: none;
}

.main_nav_link {
	margin: 0;
	padding: 15px 10px 15px 28px;
	width: 100%;
	display: block;
	border: solid 1px #c3c3c3;
	text-decoration: none;
	color: #727070;
	font-family: "OpenSansSemiBold";
	font-weight: normal;
	font-size: 20px;
	line-height: 1.2;
	background-image: -ms-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: linear-gradient( 0deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	-webkit-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	-moz-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);	
	box-sizing: border-box;
	word-wrap: break-word;
}

.main_nav_item:first-child .main_nav_link {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border-bottom: none;
}

.main_nav_item:last-child .main_nav_link {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: none;
}

.main_nav_link:hover {
	background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: linear-gradient( 0deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	-webkit-box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	-moz-box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
	box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);

}

.main_nav_link.active, .main_nav_link.active:hover  {
	background-image: -moz-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	background-image: linear-gradient( 0deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
	-webkit-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}

.contacts_header {
	margin: 0;
	padding: 10px 10px 11px 28px;
	display: inline-block;
	width: 100%;
	background-image: -moz-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	background-image: -webkit-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	background-image: -ms-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	background-image: linear-gradient( 0deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
	border-radius: 5px 5px 0 0;
	color: #d0982c;
	font: normal 20px/1.1 "OpenSansSemiBold";
	text-align: left;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
	box-sizing: border-box;
	word-wrap: break-word;	
}

.contacts_link {
	margin: 0;
	padding: 10px 10px 9px 97px;
	display: block;
	width: 100%;
	border: solid 1px #d6d5d3;
	background-color: #fbfbfb;
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: linear-gradient( 0deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
	text-decoration: none;
	color: #727070;
	font: normal 14px/1.2 "OpenSansRegular";
	box-sizing: border-box;
	position: relative;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.contacts_link:hover {
	background-image: -moz-linear-gradient( 90deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
	background-image: linear-gradient( 0deg, rgb(224,197,145) 0%, rgba(251,249,249,0) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
	text-decoration: underline;
} 

.contacts_link:before {
	margin: -13px 0 0;
	content: '';
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	background-repeat: no-repeat;
	left: 15px;
	top:50%;
}

.contacts_link.mail:before {
	background-image: url('../images/contacts_menu_sprites.png');
	background-position: -5px -5px;
}

.contacts_link.phone:before {
	background-image: url('../images/contacts_menu_sprites.png');
	background-position: -5px -41px;
}

.contacts_link.skype:before {
	background-image: url('../images/contacts_menu_sprites.png');
	background-position: -5px -77px;
}

.contacts_link:after {
	content: '';
	display: block;
	width: 10px;
	height: 100%;
	position: absolute;
	left: 50px;
	top: 0;
	background: url('../images/contacts_link_arrow.png') no-repeat left center;
}
	
.contacts_item:last-child .contacts_link {
	border-top: none;
	border-radius: 0 0 5px 5px;
}

/* main */
.main_content {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	width: 650px;
}

.main_content_item {
	margin: 0 0 36px;
	padding: 0;
	border: solid 1px #c5c5c5; 
	display: block;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	background-color: #f5f4f3; 
	background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.05) 0%, rgba(255,255,255,0.05) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.05) 0%, rgba(255,255,255,0.05) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.05) 0%, rgba(255,255,255,0.05) 100%);
	background-image: linear-gradient( 0deg, rgba(0,0,0,0.05) 0%, rgba(255,255,255,0.05) 100%);
	box-shadow: 0px 5px 10px 0px rgba(236, 232, 227, 0.75),inset 0px 6px 6px 0px rgba(255, 255, 255, 0.004);
}

.content_item_header {
	margin: 0 0 20px 0;
	padding: 12px 40px;
	min-height: 29px;
	background-color: #727070;
	background-image: -moz-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	background-image: linear-gradient( 0deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
	color: #eeedec;
	font-family: "OpenSansSemiBold";
	font-size: 24px;
	line-height: 1.2;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.004);
	word-wrap: break-word;
}

.content_item_inside {
	margin: 0 40px;
	padding: 20px 0 0;
}

.content_item_inside_photo {
	margin: 0;
	padding: 0;
	border: solid 10px #f6f5f4;
	display: block;
	width: 133px;
	height: 133px;
	border-radius: 50%;
	float: left;
	box-shadow: 0 0 0 1px #d9d8d7;
	overflow: hidden;
}

.content_item_inside_img {
	margin: 0;
	padding: 0;
	width: 100%;
}

.content_list_about {
	margin: 0 0 36px 35px;
	padding: 0;
	float: left;
	vertical-align: top;
	width: 380px;
}

.content_list_item_about {
	margin: 0 0 8px;
	padding: 0;
	list-style: none;
	font: normal 14px/1.2 "OpenSansRegular";
	color: #727070;
	word-wrap: break-word;
}

.content_list_item_about.skills {
	margin-top: 20px;
}

.content_list_item_about_name {
	font-family: "OpenSansSemiBold";
	white-space: nowrap;
}

.content_list_item_about_name:after {
	content: '';
	padding-right: 10px;
}

.content_list_skills {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 225px;
	float: right;
}

.content_list_item_skills {
	margin: 0 4px 6px 9px;
	padding: 6px 7px;
	display: inline-block;
	list-style: none;
	color: #1e7465;
	font: normal 9px/1.0 "OpenSansSemiBold";
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(255,255,255,0.45);
	background: repeat-x url("../images/skills_body.png");
	position: relative;
	white-space: nowrap; 
}

.content_list_item_skills:before {
	content: '';
	display: inline-block;
	position: absolute;
	height: 21px;
	width: 9px;
	background: no-repeat 0 0 url('../images/skills_arrow.png');
	top: 0;
	right: 100%;
}

.content_list_item_skills:after{
	content: '';
	display: inline-block;
	position: absolute;
	height: 21px;
	width: 4px;
	background: no-repeat 0 0 url('../images/skills_base.png');
	top: 0;
	left: 100%;
}

.content_list_history {
	margin: 0;
	padding: 0;
	width: 100%;
}

.content_list_item_history {
	margin: 0;
	padding: 28px 0 30px 97px;
	list-style: none;
	color: #727070;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.4;
	font-family: "OpenSansRegular";
	position: relative;
}

.content_list_item_history:before {
	content: '';
	display: block;
	margin-top: -26px;
	position: absolute;
	border-radius: 50%;
	background-color: #f7f7f7;
	width: 53px;
	height: 53px;
	left: 0;
	top: 50%;
	box-shadow: 0 1px 0 0 rgba(255,255,255, 0.04), inset 1px 1px 0 0 rgba(199,199,199,0.75);
	background-repeat: no-repeat;
	background-image: url('../images/history_sprites.png');
}

.content_list_item_history.work:before {
	background-position: -2px -2px;
}

.content_list_item_history.courses:before {
	background-position: -62px -2px;
} 

.content_list_item_history.graduate:before {
	background-position: -122px -2px;
} 

.content_list_item_history.regular:after {
	content: '';
	height: 2px;
	border-radius: 1px;
	background-color: rgb(246, 245, 244);
	box-shadow: inset 0px 1px 1px 0px rgba(128, 128, 128, 0.29);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.content_list_item_history_source {
	margin: 0;
	padding: 0;
	font-family: "OpenSansSemiBold";
	word-wrap: break-word;
}

.content_list_item_history_period {
	margin: 0;
	padding: 0;
	font-family: "OpenSansRegular";
	word-wrap: break-word;
}

.content_list_works {
	margin: 0 0 196px 0;
	padding: 19px 14px 0;
}

.content_list_item_works {
	margin: 0 0 50px 30px;
	padding: 0;
	display: inline-block;
	width: 164px;
	border-radius: 5px;
	border: solid 1px #c7c7c7;
	overflow: hidden;
	vertical-align: top;
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07);
}

.hover_works {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 121px;
	border: none;
	border-bottom: solid 1px #c7c7c7;
	overflow: hidden;
	position: relative;
}

.content_work_link {
	margin: 0;
	padding: 9px 15px;
	border: none;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	color: #727070;
	font: normal 13.35px/1.2 "OpenSansSemiBold";
	min-height: 34px;
	background-color: #f5f4f3;
	text-decoration: none; 
	word-wrap: break-word;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}


.content_work_link:hover {
	text-decoration: underline;
}

.content_work_description {
	margin: 0;
	padding: 10px;
	border: none;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	color: #727070;
	font: normal 12px/1.333 "OpenSansLight";
	background-color: #fff;
	word-wrap: break-word;
	text-align: center;
}

.image_works {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	z-index: 1;
}

.wrapper_hover_works {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(123,123,123,0.8);
	text-decoration: none;
	color: #fff;
	font: normal 12px/1.2 "OpenSansRegular"; 
	z-index: 2;
	text-align: center;
}

.hover_works:hover .wrapper_hover_works {
	display: block;
}

.wrapper_hover_works_link {
	margin: 50px 0 0;
	padding: 3px 6px;
	display: inline-block;
	border: solid 1px #fff;
	border-radius: 3px;
	transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.wrapper_hover_works:hover .wrapper_hover_works_link {
	transform: scale(1);
	-webkit-transform: scale(1);	
}

.add_works {
	height: 135px
}

.content_new_work_link {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	text-decoration: none;
	background-image: -moz-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: linear-gradient( 0deg, rgb(237,235,234) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}

.content_new_work_link:hover {
	background-color: rgb(191, 191, 191);
	background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: linear-gradient( 0deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}

.content_new_work_link:before {
	content: '';
	display: inline-block;
	margin-top: 26px;
	border-radius: 50%;
	background-color: #f7f7f7;
	width: 53px;
	height: 53px;
	box-shadow: 0 1px 0 0 rgba(255,255,255, 0.04), inset 1px 1px 0 0 rgba(199,199,199,0.75);
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../images/add_work.png");
}

.content_new_work_link:hover:before {
	background-color: rgb(191, 191, 191);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1),inset 1px 1px 0px 0px rgba(199, 199, 199, 1);
}

.content_new_work_add {
	margin: 16px 0 0;
	display: inline-block;
	color: #727070;
	font: normal 14px/1.2 "OpenSansSemiBold";
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

/* feedback form */
.feedback_form {
	margin: 0 auto 270px;
	padding: 20px 0 0;
	width: 400px;
	display: block;
}

.form_halfelement {
	margin: 0 0 17px 0;
	padding: 0;
	display: block;
	width: 192px;
}

.form_halfelement.left {
	float: left;
}

.form_halfelement.right {
	float: right;
}

.form_halfelement .label, .form_fullelement .label, .label_captcha {
	margin: 0 0 10px 0;
	color: #727070;
	font: normal 14px/1.2 "OpenSansRegular";
	float: left;
}

.text_halfelement, .text_captcha {
	margin: 0;
	padding: 0 10px;
	border: solid 1px #d6d5d3;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	width: 170px;
	height: 40px;
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: linear-gradient( 0deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);	
	color: #727070;
	font-size: 12px;
	line-height: 1.0;
	font-family: 'OpenSansLight';	
}

.text_captcha {
	margin-top: 20px;
	height: 30px;
}

.form_fullelement {
	margin: 0 0 17px 0;
	padding: 0;
	display: block;
	width: 100%;
	float: left;
}

.form_fullelement.buttons {
	margin-top: 33px;
}

.message_fullelement {
	margin: 0;
	padding: 10px;
	width: 380px;
	border: solid 1px #d6d5d3;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: linear-gradient( 0deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
	color: #727070;
	font-size: 12px;
	line-height: 1.2;
	font-family: 'OpenSansLight';
	resize: none;			
}

.label_captcha {
	width: 100%;
}

.captcha_container {
	margin: 0;
	padding: 0;
	display: block;
	width: 190px;
	height: 80px;
	border: solid 1px #d6d5d3;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	background-color: #fbfcfd;
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	background-image: linear-gradient( 0deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35);	
	overflow: hidden;
}

.captcha_image {
	width: 100%;
}

.button {
	margin: 0;
	padding: 5px;
	border: none;
	display: block;
	min-height: 36px;
	min-width: 110px;
	max-width: 170px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: linear-gradient( 0deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	box-shadow: 0px 1px 1px 0 rgba(9, 9, 9, 0.4);	
	color: #727070;
	font-family: 'OpenSansSemiBold';
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
	font-size: 14px;
	line-height: 1.2;
	word-wrap: break-word;	
}

.button.submit {
	float:left;
	color: #1e7465;
	background-image: -moz-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
	background-image: linear-gradient( 0deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
}

.button.submit:hover {
	background-image: -moz-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
	background-image: linear-gradient( 0deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
}

.button.reset {
	float:right;
	background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	background-image: linear-gradient( 0deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
	color: #727070;
}

.button.reset:hover {
	background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
	background-image: linear-gradient( 0deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
}

::-webkit-input-placeholder{color:#c7c6c6;}
::-moz-placeholder          {color:#c7c6c6;}/* Firefox 19+ */
:-moz-placeholder           {color:#c7c6c6;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c7c6c6;}

/* footer */
.footer {
	margin: -63px 0 0 0;
	padding: 0;
	width: 100%;
	height: 63px;
	background-color: #fff; 
	background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.06) 0%, rgba(255,255,255,0.06) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.06) 0%, rgba(255,255,255,0.06) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0,0,0,0.06) 0%, rgb(255,255,255,0.06) 100%);
	background-image: linear-gradient( 0deg, rgb(0,0,0,0.06) 0%, rgb(255,255,255,0.06) 100%);
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
}

.footer_content {
	margin: 0 auto;
	padding: 0;
	width: 960px;
	height: 100%;
	text-align: center;
}

.copyright {
	margin: 25px 0 0 0;
	display: inline-block;
	float: left;
	color: #727070;
	font: normal 12px/1.0 "OpenSansLight";
}

.signin {
	margin: 15px 62px 0 165px;
	padding: 8px 0 8px 30px;
	background: no-repeat -5px -5px url("../images/lock_sprites.png");
	display: block;
	height: 14px;
	color: #9c9c9c;
	font: normal 14px/1.0 "OpenSansBold";
	text-transform: lowercase;
	text-decoration: none;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);
	float: left;
}

.signin:hover {
    background-position: -5px -45px;
}